<!-- 
<ul class="nav nav-pills nav-stacked sidebar">
  <li id='sidebar-thumbnail'>
      <%#= image_tag current_user.avatar.thumb.url, class: 'img-circle'%>
  </li>
  <%#= content_tag :li, link_to(t(:users), users_path) if current_user.admin? %>
  <%#= content_tag :li, link_to(t(:articles), articles_path) %>
  <%#= content_tag :li, link_to(t(:add_an_article), new_article_path) if can? :create, Article %>
  <%#= content_tag :li, link_to(t(:edit_my_profile), edit_user_path(current_user)) %>
</ul> -->
